[Desktop Entry]
Version=1.0
Type=Application
Name=PHP Snake
Comment=Basic snake game written in PHP using SDL
Exec=php-snake
Icon=php-snake
Terminal=false
StartupNotify=false
Categories=Game;
